.row
  .col-md-3
    .pull-left= image_tag image_path('logo.png')
    %h4.no-margins.brandname.pull-left Newtone
  .col-md-2.col-md-offset-7
    = link_to 'http://brandymint.ru/' do
      = image_tag image_path('brandymint.png')