.navbar.navbar-static-top.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Newtone', root_url, :class => 'navbar-brand'
    .collapse.navbar-collapse
      = render_navigation :expand_all => true, :renderer => :bootstrap